.banner {
  color: #fff;
  object-fit: contain;
  height: 450px;
}

.banner__content {
  margin-left: 30px;
  padding-top: 150px;
  height: 200px;
}

.banner__title {
  width: 45rem;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  max-width: 500px;
  text-shadow: 1px 1px #000;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 450px;
  height: 80px;
  text-shadow: 1px 1px #000;
}

.banner--fadeBottom {
  height: 8rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(19, 19, 19, 1),
    #111
  );
}
